body{
    max-width: 800px;
    margin: 0 auto;
}

.top-navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
    gap: 20px;
    margin-bottom: 20px;
}

.top-navbar li a {
    text-decoration: none;
    font-family: Arial;
    background-color: #1787bf;
    color: #fff;
    padding: 6px 8px;
    border-radius: 8px;
}

.top-navbar li a:hover,
.top-navbar li a.active {
    background-color: grey;
}

.main-content{
    text-align: center;
    border: 5px double black;
    padding: 50px;
}

.main-content .logo img {
    margin-bottom: 20px;
}

.main-content .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0;
}

.main-content .nav ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.main-content .banner-img img {
    width: 100%;
}

.main-content .para p {
    font-size: 18px;
    font-weight: 700;
}

.content h1 {
    color: #1787bf;
    text-shadow: 2px 2px 3px #00000053;
    font-weight: 700;
}

.content h3 {
    text-transform: uppercase;
    color: #1787bf;
}

.content h3 + p {
    font-weight: 600;
    color: #4a4a4a;
}

.content h3 + p span {
    color: #1787bf;
}

.content h5 {
    font-size: 30px;
    color: #1787bf;
    line-height: 1;
    margin: 10px 0;
}

.content p {
    color: #000;
    font-size: 19px;
}

.content p.last-child {
    text-align: right;
}